[submodule "src/Vendor/GLFW"]
	path = src/Vendor/GLFW
	url = https://github.com/jackphillips31/glfw
	branch = master
[submodule "src/Vendor/spdlog"]
	path = src/Vendor/spdlog
	url = https://github.com/jackphillips31/spdlog
	branch = v2.x
[submodule "src/Vendor/imgui"]
	path = src/Vendor/imgui
	url = https://github.com/jackphillips31/imgui.git
	branch = docking
[submodule "src/Vendor/glm"]
	path = src/Vendor/glm
	url = https://github.com/g-truc/glm.git
	branch = master
